body {
    background: #191919;   
}

#mainPanel, #mPanOverlay {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -350px;
}

#map, #mapOverlay {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}
