/*        ******      General Page Style    ******      */
body, html {
    background: #191919;
    height: 100%;
    margin: 0;
    cursor:url(images/pointer.png),auto;
    -webkit-user-select: none;
}

button {
    cursor:url(images/pointer.png),auto;
}

#mainPanel, #mPanOverlay {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -350px;
    margin-left: -350px;
}

#map, #mapOverlay {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

#slider {
    position: absolute;
    -webkit-appearance: none !important;
    background: #464646;
    height: 5px;
    width: 200px;
    top: 310px;
    right: 50px;
    border-radius: 2px;
    z-index: 1;
    cursor:url(images/horiResize.png),auto;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:#AFAFAF;
    border-radius: 10px;
    height:15px;
    width:15px;
    box-shadow: inset -1px -1px 0 2px #8C8C8C;
}
    

::selection {
    background-color: transparent;
}

/*        ******      Loading Screen    ******      */

.popupContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #191919;
    z-index: 100;
    opacity: 1;
    -webkit-transition: opacity 1s ease;
}

.popup {
    position: relative;
    height: 50%;
    width: 50%;
    margin-left: 25%;
    margin-top: 15%;
    border-radius: 10px;
    background-color: #363636;
    z-index: 101;
}
    
#seed{
    position: relative;
    top: 25%;
    display: block;
    height: 25px;
    width: 25%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor:url(images/text.png),auto;
}

.button {
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

#buttonContainer{
    position: relative;
    top: 25%;
    text-align: center;
    display: block;
    width: 242px;
    margin-left: auto;
    margin-right: auto;
}

#loader {
    position: relative;
    top: 120px;
    background: #1F1F1F;
    display: block;
    border-radius: 10px;
    height: 10px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

#thumb {
    float:left;
    height: 100%;
    width: 0%;
    max-width: 100%;
    background: #4F8F4F;
    border-radius: 10px;
    box-shadow: inset -1px -1px 2px 1px #2F4F2F, inset 1px 1px 2px 1px #CFCFCF;
    -webkit-transition: width, 1s;
}


/*        ******      Map Context    ******      */

#leftMenu {
    position: relative;
    width: 20%;
    min-width: 150px;
    height: 100%;
    overflow: hidden;
    background: #191919;
    box-shadow: 0 0 2px 0 #FFF;
    z-index: 1;
}

#buildingContainer {
    position: absolute;
    top: 0;
    height: 50%;
    width: 100%;
    padding-bottom: 5px;
    background: #191919;
    overflow-y: scroll;
    z-index: 1;
}

#leftMenuSlider {
    position: absolute;
    height: 20px;
    width: 100%;
    margin-top: 48%;
    border-radius: 5px;
    box-shadow: inset -1px -1px 0 2px #000;
    background: #363636;
    z-index: 2;
    cursor:url(images/vertResize.png),auto; 
}

#droneContainer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    padding-top: 20px;
    background: #191919;
    z-index: 1;
    overflow-y: scroll;
}

.menuItem {
    display: table;
    width: 100%;
    padding: 10px;
    background: #000;
    color: #FFF;    
    box-shadow: inset 0 0 3px 1px #138A0c;
    cursor:url(images/build.png),auto; 
}

.itemText{
    font-family:"Droid Sans", Times, serif;
    display: table-cell;
    width: 100%;
    vertical-align: middle;
    text-align: left;
}

.itemImage {
    position: table;
    vertical-align: middle;
    margin: 10px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-button:vertical:start {
    display: none;
}

::-webkit-scrollbar-thumb {
    width: 10px;
    border-radius: 5px;
    box-shadow: 0 0 0 5px #363636 inset;
}



/*        ******      Exec Dropdown    ******      */
#execDropDown {
    position: absolute;
    top: -35px;
    left: 50%;
    margin-left: -375px;
    width: 750px;
    padding-bottom: 70px;
    border-radius: 0 0 10px 10px;
    background-color: #138A0C;
    z-index: 2;
}

#execDropDownContainer {
    background-color: #FFFBE5;
    margin: 0 5px 0 5px;
    -webkit-transition: all 0.5s ease-in-out;
}
/*        ******      Global Actions    ******      */
.info {
    min-width: 50px;
    padding: 4px;
    border-radius: 10px;
    background: #1661f7;
    border-color: #191919;
    font-family:"Droid Sans", Times, serif;
}

.action {
    min-width: 50px;
    padding: 4px;
    border-radius: 10px;
    background: #138A0C;
    border-color: #191919;
    font-family:"Droid Sans", Times, serif;
}

#globalActions {
    position: absolute;
    right: 0;
    bottom: 0;
    min-height: 100px;
    min-width: 350px;
    background: #191919;
    box-shadow: 0 0 2px 0 #FFF;
    border-radius: 10px 0 0 0;
}

#save {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

#turn {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

#globalReport {
    position: absolute;
    top: 10px;
    right: 10px;
}

#turnNumber {
    position: absolute;
    top: 14px;
    left: 14px;
    color: #D9F7FF;
    font-family:"Droid Sans", Times, serif;
}